
<header>
    <nav>
        <ul>
            <li><a routerLink="/home">Startseite</a></li>
            <li><a routerLink="/unsere-mission">Unsere Mission</a></li>
            <li><a routerLink="/spendenformular">Kleidung spenden</a></li>
        </ul>
    </nav>
    <hr>
    <h1>Kleiderbrücke e.V.</h1>
</header>

<router-outlet></router-outlet>

<footer>
    <nav>
        <ul>
            <li>Kontakt</li>
            <li>Datenschutz</li>
            <li>Impressum</li>
        </ul>
    </nav>
</footer>