<body class="min-h-screen flex flex-col">
    <header>
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                        </div>
                        <div class="hidden sm:ml-6 sm:block">
                            <div class="flex space-x-4">
                                <a routerLink="/home" routerLinkActive="bg-gray-900 text-white" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Startseite</a>
                                <a routerLink="/unsere-mission" routerLinkActive="bg-gray-900 text-white" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Unsere Mission</a>
                                <a routerLink="/spendenformular" routerLinkActive="bg-gray-900 text-white" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Kleidung spenden</a>
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
                        <!-- Button für mobiles Menü -->
                        <button type="button" (click)="toggleMenu()" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <!-- Icon bei geschlossenem Menü: Menu open: "hidden", Menu closed: "block" -->
                            <svg class="h-6 w-6" [ngClass]="{'hidden': menuOpen, 'block' : !menuOpen }" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <!-- Icon bei geöffnetem Menü: Menu open: "block", Menu closed: "hidden" -->
                            <svg class="h-6 w-6" [ngClass]="{'hidden': !menuOpen, 'block' : menuOpen }" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        
            <!-- Mobiles Menü, Anzeige je nach Zustand von menuOpen -->
            <div [ngClass]="{'hidden': !menuOpen, 'block sm:hidden' : menuOpen }" id="mobile-menu">
                <div class="space-y-1 px-2 pb-3 pt-2">
                    <a routerLink="/home" routerLinkActive="bg-gray-900 text-white" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Startseite</a>
                    <a routerLink="/unsere-mission" routerLinkActive="bg-gray-900 text-white" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Unsere Mission</a>
                    <a routerLink="/spendenformular" routerLinkActive="bg-gray-900 text-white" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Kleidung spenden</a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Router outlet-Bereich. Flex-grow wegen Footer, Padding an den Seiten -->
    <div class="flex-grow p-5 pb-16 pt-16">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer mit Link zum Impressum -->
    <footer class="bg-gray-800 text-gray-300 p-2">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-2 justify-between gap-4 border-t border-gray-700 py-4">
                <div class="flex items-center justify-center space-x-4 text-sm font-semibold text-gray-300 sm:justify-start">
                    <p class="text-sm text-gray-400 max-md:text-center">© 2024 Kleiderbrücke e.V. Alle Rechte vorbehalten.</p>
                </div>
                <div class="flex items-center justify-center sm:justify-end">
                    <nav>
                        <a routerLink="/impressum" class="hover:text-white">Impressum</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</body>